name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Login to DockerHub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        shell: bash
        run: |
          cd "$GITHUB_WORKSPACE"
          docker build -t "${{ secrets.DOCKER_USERNAME }}/netpro_coursework:latest" .

      - name: Push Docker image
        run: |
          docker push "${{ secrets.DOCKER_USERNAME }}/netpro_coursework:latest"
