name: Docker CI

on:
  push:
    branches: [ "main" ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Docker login
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login --username "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build image
        run: |
          docker build . -t "${{ secrets.DOCKER_USERNAME }}/netpro_coursework:latest"

      - name: Push image
        run: |
          docker push "${{ secrets.DOCKER_USERNAME }}/netpro_coursework:latest"
